.metrics {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.gameover {
  margin-top: 2rem;
}

.room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.room {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  align-items: flex-start;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 120px;
  align-items: center;
}

.card {
  color: #f9f6d7;
  width: 120px;
  height: 160px;
  border-radius: 8px;
  background: #458588;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.card-container .actions {
  width: 100%;
  align-items: stretch;
}

.card-container .actions button {
  width: 100%;
  text-align: center;
}

.card-value {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-suit {
  font-size: 2rem;
}

.card.heart .card-value,
.card.heart .card-suit {
  color: #cc241d;
}

.card.diamond .card-value,
.card.diamond .card-suit {
  color: #d65d0e;
}

.card.club .card-value, .card.club .card-suit,
.card.spade .card-value, .card.spade .card-suit {
  color: #3c3836;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.start-game h3 {
  color: #d65d0e;
  text-align: center;
  cursor: pointer;
}

.start-game h3:hover {
  color: #458588;
}

button {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  color: #d65d0e;
}

button:hover:not(:disabled) {
  color: #458588;
}

button:disabled {
  color: #928374;
  cursor: not-allowed;
}
.weapon-detail .card .card-value,
.weapon-detail .card .card-suit {
  color: #f9f6d7;
}

.weapon-detail {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px dashed #999;
  text-align: center;
}

.weapon-detail .card {
  margin-left: auto;
  margin-right: auto;
}

.weapon-stack {
  font-size: 1rem;
  color: #f9f6d7;
  line-height: 1.5;
}

.game {
  border-top: 1px dashed #999;
  border-radius: 8px;
  padding: 1rem;
  height: 100%;
}

.gameover {
  text-align: center;
}

@media (max-width: 800px) {
  .room {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: start;
  }
  .card-container {
    width: auto;
  }
}
