.svg-space {
  width: 3rem;
  height: 3rem;
}

.rights-reserved {
  color: #ebdbb2;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: relative;
  z-index: 10;
}

hr {
  color: #fbf1c7;
  border-top: 1px dashed #999;
  width: 70vw;
}

