.svg-space {
  width: 3rem;
  height: 3rem;
}

.rights-reserved {
  color: #a89984;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f6d7;
}

hr {
  width: 70vw;
}

@media (max-width: 800px) {
  hr {
    width: 90vw;
  }
}