.svg-space {
  width: 3rem;
  height: 3rem;
}

.rights-reserved {
  color: #ebdbb2;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: relative;
  z-index: 10;
}

hr {
  width: 70vw;
}

@media (max-width: 800px) {
  hr {
    width: 90vw;
  }
}