@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Monsieur+La+Doulaise&display=swap');

.content h1.name {
  font-family: 'Martel Sans', sans-serif;
}

.content span.name2 {
  font-family: 'Monsieur La Doulaise', cursive;
}
