.whiteboard-page {
  min-height: 100vh;
  position: relative;
}

.whiteboard-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
}

.whiteboard-canvas {
  display: block;
  cursor: crosshair;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

