.minesweeper-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.minesweeper-game {
  position: relative;
}

.minesweeper-status {
  color: #1d2021;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: 'JetBrains Mono', monospace;
}

.minesweeper-status span {
  margin-right: 1rem;
}

@media (max-width: 800px) {
  .minesweeper-status {
    font-size: 0.75rem;
  }
}

.minesweeper-canvas {
  background-color: #fbf1c7;
  display: block;
}

.minesweeper-gameover {
  text-align: center;
  z-index: 10;
  color: #458588;
}


.minesweeper-gameover-wrapper {
  margin-top: 2rem;
}

.minesweeper-gameover h3 {
  color: #d65d0e;
  cursor: pointer;
}

.minesweeper-gameover h3:hover {
  color: #458588;
}

